[Unit]
Description=QuickStart
Documentation=https://github.com/aceberg/QuickStart
After=network-online.target
Wants=network-online.target

[Service]
User=%i
ExecStart=/usr/bin/QuickStart -c /home/%i/.config/QuickStart/config.yaml
Restart=on-failure

[Install]
WantedBy=multi-user.target