/* VARS */
:root {
    --transparent-light: #ffffff15;
}

/* Transparant icon button */
.shade-hover {
    padding: 9px;
    border-radius: 15%;
}
.shade-hover:hover {
    background-color: var(--transparent-light);
    cursor: pointer;
}

/* TABS */
.btn-tab, .btn-tab-main {
    background-color: #00000000;
    border-width: thin;
    border-color: var(--bs-primary);
    border-style: solid;
    align-content: center;
    padding-inline: 1.2em;
    white-space: nowrap;
    height: 2.5em;
}
.btn-tab:hover {
    background-color: var(--transparent-light);
}

.btn-tab-main {
    border-bottom-color: #00000000;
    border-bottom-width: thick;
}

/* GR-FILTER */
.gr-filter {
    background-color: #00000000;
    cursor: pointer;
    border-style: hidden;
}