[Unit]
Description=AnyAppStart
Documentation=https://github.com/aceberg/AnyAppStart
After=network-online.target
Wants=network-online.target

[Service]
ExecStart=/usr/bin/AnyAppStart -d /etc/AnyAppStart
Restart=on-failure

[Install]
WantedBy=multi-user.target