[Unit]
Description=AnyAppStart
Documentation=https://github.com/aceberg/AnyAppStart
After=network-online.target
Wants=network-online.target

[Service]
User=%i
ExecStart=/usr/bin/AnyAppStart -d /home/%i/.config/AnyAppStart
Restart=on-failure

[Install]
WantedBy=multi-user.target